# Virtual environment
.venv/

# Raw and processed data
data/raw/
data/processed/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
